@import "tailwindcss";


:root {
  --color-background-body: #09060c;
  --color-background-before: #0c0912;
  --color-gradient1-start: rgba(63, 5, 157, 0.3);
  --color-gradient1-end: rgba(64, 8, 149, 0);
  --color-gradient2-start: rgba(77, 8, 173, 0.5);
  --color-gradient2-middle: rgba(74, 7, 182, 0.4);
  --color-gradient2-end: rgba(87, 14, 196, 0);
  --color-gradient3-start: rgba(90, 17, 155, 0.2);
  --color-gradient3-middle: rgba(64, 5, 131, 0.1);
  --color-gradient3-end: rgba(70, 13, 144, 0);
  --color-gradient4-start: rgba(52, 0, 124, 0.075);
  --color-gradient4-end: rgba(52, 0, 124, 0.05);
  --color-background-gradient5: #0d0b13;
  --color-gradient6-start: rgba(21, 2, 58, 0.5);
  --color-background-gradient6: #100223;
  --color-background-after: #17131c;
  --d-blur: blur(14px);
  --d-bg: rgba(10, 10, 10, 0.85);
}


@theme inline {
  --color-amethyst-50: #faf6fe;
  --color-amethyst-100: #f4ebfc;
  --color-amethyst-200: #ebdbf9;
  --color-amethyst-300: #dabff3;
  --color-amethyst-400: #c495eb;
  --color-amethyst-500: #aa68df;
  --color-amethyst-600: #974dd0;
  --color-amethyst-700: #813bb5;
  --color-amethyst-800: #6d3495;
  --color-amethyst-900: #592b78;
  --color-amethyst-950: #3c1457;
  --color-background-body: #09060c;

}


body {
  overflow-x: hidden;
  background: var(--color-background-body);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  scroll-padding-top: 5rem;
}